<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Mongo"/>
	</extensions>
	<variable name="logDirectory" value="log/syslog" />

	<!-- the targets to write to -->
	<targets async="true">
		<!-- write logs to file  -->
		<target xsi:type="File" name="allfile" fileName="${basedir}/logs/${shortdate}/${date:format=HH}_${level}.log"
				layout="${longdate}|${uppercase:${level}}|${logger}|${message}|访问IP：${aspnet-request-ip}|请求url: ${aspnet-request-url}|堆栈：${exception:format = ToString,StackTrace}" />
    
    <!-- write logs to MongoDB  -->
    <target xsi:type="Mongo"
          name="mongodb"
          connectionString="mongodb://47.101.47.193:27010"
          databaseName="Logging"
          collectionName="YouleLogs"
          cappedCollectionSize="26214400">
      <property name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <property name="ThreadName" layout="${threadname}" />
      <property name="ProcessID" layout="${processid}" bsonType="Int32" />
      <property name="ProcessName" layout="${processname:fullName=true}" />
      <property name="Identity" layout="${aspnet-user-identity}" />
      <property name="ClientIp" layout="${aspnet-request-ip}" />
      <property name="RequestUrl" layout="${aspnet-request-url}" />
      <property name="Method" layout="${aspnet-request-method}" />
      <property name="LocalIP" layout="${local-ip} " />
    </target>
		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<!--<target xsi:type="File" name="ownFile-web" fileName="${basedir}/${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />-->
	</targets>

  

	<!-- rules to map from logger name to target -->
	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs  排除Microsoft.*匹配到的日志-->
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
    <!--Mongodb记录日志-->
    <logger name="*" minlevel="Trace" writeTo="mongodb" />
		<!-- BlackHole without writeTo -->
		<!--<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
	</rules>
</nlog>